{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        Réinitialiser votre mot de passe
                    </div>
                    <div class="card-body">
                        {{ form_start(resetForm) }}
                            <div class="mb-3">
                                {{ form_row(resetForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nouveau mot de passe'}}) }}
                            </div>
                            <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
