{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
<main>
    <div class="container" style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5" style="border: 1px solid #e9ecef; border-radius: 5px;">
                    <div class="card-header ml-4" style="background-color: #007bff; color: #ffffff; padding: 10px 20px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        Réinitialiser votre mot de passe
                    </div>
                    <div class="card-body">
                        {{ form_start(resetForm) }}
                            <div class="form-group row">
                                <div class="col text-center">
                                    {{ form_row(resetForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nouveau mot de passe'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block text-center" style="background-color: #007bff; color: #ffffff; border: none;">Réinitialiser le mot de passe</button>
                                </div>
                            </div>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
