{% extends 'base.html.twig' %}

{% block title %}À propos de Languedo - Plateforme d'apprentissage des langues en ligne{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-justify">
        <h1 class="mentions">À propos de nous</h1>
        <p><strong>Languedo</strong></p>

        <p>Notre entreprise propose une plateforme d'apprentissage des langues en ligne innovante, dirigée par Maycon Bernardes, passionné de langues et de technologie éducative.</p>

        <p>Face à la pandémie de Coronavirus et à la transformation numérique, nous répondons au besoin croissant de solutions d'enseignement linguistique innovantes. Notre objectif est de rendre l'apprentissage des langues étrangères simple, interactif et amusant en utilisant pleinement les outils technologiques disponibles.</p>

        <p>Notre proposition comprend une plateforme intégrant des textes transcrits, des audios et une fonction de traduction, ainsi que des quiz interactifs pour renforcer la pratique grammaticale.</p>

        <p><strong>Adresse:</strong> Le Cloitre, 20 Bd Madeleine Rémusat, 13013 Marseille</p>
        <p><strong>Téléphone:</strong> 04 91 12 29 42</p>
        <p><strong>Site Web:</strong> <a href="https://paca.simplon.co/">https://paca.simplon.co/</a></p>
        <p><strong>Horaires:</strong> Lundi-vendredi 09:00-17:30</p>
        <p><strong>Droits d'auteur:</strong> Copyright © 2024 Mayc Bern</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
