
{% extends 'base.html.twig' %}

{% block title %}Mentions légales!{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-justify">
        <h2 class="mentions">À propos de nous</h2>
<pre>
<p><strong>Languedo</strong> 

Notre entreprise propose une plateforme d'apprentissage des langues en ligne 
innovante, dirigée par Maycon Bernardes,
passionné de langues et de technologie éducative.

Face à la pandémie de Coronavirus et à la transformation numérique,
nous répondons au besoin croissant de solutions d'enseignement linguistique innovantes.
Notre objectif est de rendre l'apprentissage des langues étrangères simple, 
interactif et amusant en utilisant pleinement les outils technologiques disponibles.

Notre proposition comprend une plateforme intégrant des textes transcrits, 
des audios et une fonction de traduction,
ainsi que des quiz interactifs pour renforcer la pratique grammaticale.</p>


Adresse
Le Cloitre, 20 Bd Madeleine Rémusat, 13013 Marseille

 04 91 12 29 42
 
https://paca.simplon.co/
Horaire
Lundi-vendredi 09:00-17:30
Copyright © 2024 Mayc Bern 

        </pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}





