{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div>


    <a href="{{ path('app_list_lesson')}}">Voir les lecons</a>
    <a href="">Voir les quiz</a>
</div>
{% endblock %}
