{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<video autoplay muted loop id="video-background" plays-inline>
  <source src="video/.mp4" type="video/mp4">
</video>

<div class="app">
  <header>
    <h1>Prêt à vous amuser tout en apprenant ?</h1>
    <p>Explorez notre large gamme de leçons et de quiz pour enrichir votre expérience d'apprentissage.</p>
  </header>
  <div class="tag-list">
    <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
      <div class="inner">
        <div class="tag"><span>#</span> Langues</div>
        <div class="tag"><span>#</span> Apprentissage</div>
        <div class="tag"><span>#</span> Audios</div>
        <div class="tag"><span>#</span> Quiz</div>
        <div class="tag"><span>#</span> Transcriptions</div>
        <!-- duplicated content -->
        <div class="tag"><span>#</span> Linquistique</div>
        <div class="tag"><span>#</span> Écoute</div>
        <div class="tag"><span>#</span> Prononciation</div>
        <div class="tag"><span>#</span> Vocabulaire</div>
        <div class="tag"><span>#</span> Grammaire</div>
      </div>
    </div>
    <div class="loop-slider" style="--duration:19260ms; --direction:reverse;">
      <div class="inner">
        <div class="tag"><span>#</span> Compréhension</div>
        <div class="tag"><span>#</span> Pratique</div>
        <div class="tag"><span>#</span> Interactivité</div>
        <div class="tag"><span>#</span> Enseignement</div>
        <div class="tag"><span>#</span> Multimédia</div>
        <!-- duplicated content -->
        <div class="tag"><span>#</span> Culture</div>
        <div class="tag"><span>#</span> Immersion</div>
        <div class="tag"><span>#</span> Enseignant</div>
        <div class="tag"><span>#</span> Maîtrise</div>
        <div class="tag"><span>#</span> Prograssion</div>

        <div class="tag"><span>#</span> Accent</div>
        <div class="tag"><span>#</span> Répetition</div>
        <div class="tag"><span>#</span> Context</div>
      </div>
    </div>
    <div class="loop-slider" style="--duration:15936ms; --direction:normal;">
      
    <div class="fade"></div>
  </div>
</div>
    </div>
    <div class="row justify-content-center mt-5 mb-md-4">
        <div class="col-md-4">
            <div class="card border-0 shadow text-center mb-4">
                <div class="card-body">
                    <h2 class="card-title">Leçons audio</h2>
                     <img src="img/audio.jpg" alt="my logot" class="img-fluid" style="max-width: 100%; height: auto;">
                    <p class="card-text">Découvrez diverses leçons dans différentes langues.</p>
                    {% if app.user %}
                        <a href="{{ path('app_list_lesson')}}" class="btn btn-primary btn-lg btn-block">Commencer l'Apprentissage</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg btn-block">Connectez-vous ou inscrivez-vous</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 shadow text-center">
                <div class="card-body">
                    <h2 class="card-title">Quiz</h2>
                     <img src="img/quiz.jpg" alt="my logot" class="img-fluid" style="max-width: 100%; height: auto;">
                    <p class="card-text">Testez vos connaissances avec nos quiz interactifs.</p>
                    {% if app.user %}
                        <a href="{{ path('app_quizzes') }}" class="btn btn-primary btn-lg btn-block">Passer un Quiz</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg btn-block">Connectez-vous ou inscrivez-vous</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="text-center">
                            <img src="img/lang.jpeg" alt="Apprentissage des Langues" class="img-fluid" style="width: 100%; max-height: calc(100vh - 200px); height: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form action="https://formspree.io/f/myyrnjav" method="POST">
                <div class="form-group">
                    <label for="email">Votre Email :</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="exemple@email.com">
                </div>
                <div class="form-group">
                    <label for="message">Votre Message :</label>
                    <textarea class="form-control" id="message" name="message" rows="3" placeholder="Entrez votre message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
