{% extends 'base.html.twig' %}

{% block title %}Choisir une langue{% endblock %}

{% block body %}
    <h1 class="text-center">Choisir une langue</h1>
    <div class="container">
        <div class="row justify-content-center">
            {% for language in languages %}
                <div class="col-md-4 mb-4 mt-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2>{{ language.name }}</h2>
                            <a href="{{ path('app_list_lesson', { id: language.id }) }}" class="btn btn-primary">Voir les leçons</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
