{% extends 'base.html.twig' %}

{% block title %}Leçons{% endblock %}

{% block body %}
<h1 class="text-center">Leçons</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 row justify-content-center" id="lessons-column">
            <h2>Leçons</h2>
            <ul class="list-group">
                {% for lesson in lessons %}
                {# Check if the lesson's language ID matches the selected language ID #}
                {% if lesson.language.id == selected_language_id %}
                {# Audio player for the lesson #}
                <audio controls style="width:100%">
                    <source src="{{ lesson.src }}" type="audio/mp3">
                </audio>

                {# Displaying the title of the lesson #}
                <h2 class="list-group-item text-center">- {{ lesson.title }}</h2>

                {# Displaying the transcription and language of the lesson #}
                <li class="list-group-item">{{ lesson.transcription }} - {{ lesson.language.name }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
