{% extends 'base.html.twig' %}

{% block title %}Leçons - Languedo{% endblock %}

{% block body %}
<h1 class="text-center">Leçon</h1>
<div class="container" style="overflow-x: hidden;">
    <div class="row justify-content-center">
        {# Left Column: Languages #}
        {% for language in languages %}
        <div class="col-md-4 mb-4 mt-4">
            <div class="card">
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{# Right Column: Lessons #}
<div class="row justify-content-center">
    <div class="col-md-8 row justify-content-center" id="lessons-column">
        <ul class="list-group">
            {# Loop through each lesson #}
            {% for lesson in lessons %}
                {# Audio player for the lesson #}
                <audio controls style="width:100%">
                    <source src="{{ lesson.src }}" type="audio/mp3">
                </audio>

                {# Displaying the title of the lesson #}
                <h2 class="list-group-item text-center">- {{ lesson.title }}</h2>
                
                {# Displaying the transcription and language of the lesson #}
                <li class="list-group-item">{{ lesson.transcription }} - {{ lesson.language.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock %}
