{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        {% for quiz in quizzes %}
        <div class="col-md-4 mb-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">{{ quiz.title }}</h6>
                    <h6 class="card-title">N°{{ quiz.id }}</h6>
                    <a href="{{ path('app_show_quizz', { id: quiz.id }) }}" class="btn btn-primary">Start Quiz</a>
                    {% set score = app.user ? app.user.id(quiz.id) %}
                    {% if score %}
                    <p>Points {{ score }}</p>
                    {% else %}
                    <p>No score available</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
