{# templates/score/submit_form.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Submit Score{% endblock %}

{% block body %}
    <h1>Submit Score</h1>
    {{ form_start(form) }}
    {{ form_row(form.quiz_id) }}
    {{ form_row(form.score) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
