
{% extends 'base.html.twig' %}

{% block title %}Quiz Score{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg my-4">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Quiz Score</h2>
                    <p class="card-text text-center mb-4">Your score for the quiz "{{ quiz.title }}" is: {{ score }}%</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}