{% extends 'base.html.twig' %}

{% block title %}Edit Quiz{% endblock %}

{% block body %}
    <h1>Edit Quiz</h1>

    {{ include('quiz/_form.html.twig', {'button_label': 'Update'}) }}

   <div class="text-center mt-3">
    <a href="{{ path('app_quiz_index') }}" class="btn btn-secondary">Back to List</a></div>

    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
