{% extends 'base.html.twig' %}

{% block title %}Nouvelle leçon{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-3 text-center">Créer une nouvelle leçon</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ include('lesson/_form.html.twig') }}
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-6 text-center">
            <a href="{{ path('app_lesson_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
